<a href="https://colab.research.google.com/github/sbesinski/kaggle_ML/blob/main/house_price_in_malaysia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lyhatt/house-prices-in-malaysia-2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/lyhatt/house-prices-in-malaysia-2025?dataset_version_number=1...

100%|██████████| 38.8k/38.8k [00:00<00:00, 37.7MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/lyhatt/house-prices-in-malaysia-2025/versions/1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

dataset = os.path.join(path, "malaysia_house_price_data_2025.csv")
df = pd.read_csv(dataset)
df.head()

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,SCIENTEX SUNGAI DUA,Tasek Gelugor,Penang,Freehold,Terrace House,331800.0,304.0,593
1,BANDAR PUTRA,Kulai,Johor,Freehold,"Cluster House, Terrace House",590900.0,322.0,519
2,TAMAN LAGENDA TROPIKA TAPAH,Chenderiang,Perak,Freehold,Terrace House,229954.0,130.0,414
3,SCIENTEX JASIN MUTIARA,Bemban,Melaka,Freehold,Terrace House,255600.0,218.0,391
4,TAMAN LAGENDA AMAN,Tapah,Perak,Leasehold,Terrace House,219300.0,168.0,363

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Township      2000 non-null   object
 1   Area          2000 non-null   object
 2   State         2000 non-null   object
 3   Tenure        2000 non-null   object
 4   Type          2000 non-null   object
 5   Median_Price  2000 non-null   float64
 6   Median_PSF    2000 non-null   float64
 7   Transactions  2000 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 125.1+ KB

In [4]:
print(df.isnull().sum())

Township        0
Area            0
State           0
Tenure          0
Type            0
Median_Price    0
Median_PSF      0
Transactions    0
dtype: int64

In [5]:
df.nunique()

Township        1946
Area             303
State             16
Tenure             4
Type              46
Median_Price     831
Median_PSF       584
Transactions     142
dtype: int64

In [6]:
df['Type']

0                      Terrace House
1       Cluster House, Terrace House
2                      Terrace House
3                      Terrace House
4                      Terrace House
                    ...
1995                   Terrace House
1996                   Terrace House
1997           Terrace House, Semi D
1998                   Terrace House
1999                   Terrace House
Name: Type, Length: 2000, dtype: object

In [7]:
df.columns[:5]

Index(['Township', 'Area', 'State', 'Tenure', 'Type'], dtype='object')

In [8]:
for col in df.columns[:5]:
    if df[col].dtype == 'object':
     df[col] = df[col].str.lower()  # Convert to lowercase and update the column

In [9]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,scientex sungai dua,tasek gelugor,penang,freehold,terrace house,331800.0,304.0,593
1,bandar putra,kulai,johor,freehold,"cluster house, terrace house",590900.0,322.0,519
2,taman lagenda tropika tapah,chenderiang,perak,freehold,terrace house,229954.0,130.0,414
3,scientex jasin mutiara,bemban,melaka,freehold,terrace house,255600.0,218.0,391
4,taman lagenda aman,tapah,perak,leasehold,terrace house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,taman andalas jaya,klang,selangor,freehold,terrace house,655000.0,410.0,10
1996,taman anjung bercham megah,ipoh,perak,freehold,terrace house,337500.0,224.0,10
1997,taman puncak jelapang maju,ipoh,perak,leasehold,"terrace house, semi d",290000.0,195.0,10
1998,taman tiong ung siew,sibu,sarawak,leasehold,terrace house,480000.0,272.0,10
1999,taman desa rishah indah,ipoh,perak,leasehold,terrace house,449000.0,261.0,10

In [10]:
filtered_type = df[df['Type'] != 'terrace house']
print(filtered_type['Type'])

1       cluster house, terrace house
5              terrace house, semi d
7       terrace house, cluster house
13             terrace house, semi d
16      terrace house, cluster house
                    ...
1985           semi d, terrace house
1990                          semi d
1991                          semi d
1992           semi d, terrace house
1997           terrace house, semi d
Name: Type, Length: 1044, dtype: object

In [11]:
filtered_type['Type'].count()

1044

In [12]:
print(df['Type'].nunique())

46

In [13]:
print(df['Type'].unique())

['terrace house' 'cluster house, terrace house' 'terrace house, semi d'
 'terrace house, cluster house' 'cluster house' 'bungalow, terrace house'
 'service residence' 'semi d, terrace house' 'flat'
 'cluster house, semi d' 'terrace house, semi d, town house'
 'semi d, cluster house' 'apartment' 'semi d, terrace house, bungalow'
 'semi d' 'terrace house, town house' 'semi d, town house, terrace house'
 'condominium' 'semi d, bungalow' 'bungalow, semi d' 'bungalow'
 'town house, terrace house, semi d' 'terrace house, semi d, bungalow'
 'bungalow, terrace house, semi d' 'terrace house, bungalow'
 'cluster house, terrace house, semi d'
 'semi d, terrace house, cluster house' 'semi d, cluster house, bungalow'
 'bungalow, town house' 'town house, terrace house' 'town house, semi d'
 'terrace house, bungalow, semi d' 'town house' 'flat, condominium'
 'town house, bungalow, terrace house' 'apartment, flat'
 'semi d, bungalow, terrace house' 'town house, semi d, terrace house'
 'town house, bungalow' 'condominium, service residence'
 'cluster house, bungalow' 'flat, apartment'
 'bungalow, semi d, terrace house' 'semi d, terrace house, town house'
 'cluster house, town house, terrace house' 'semi d, town house']

In [14]:
most_freq = df['Type'].value_counts()
print(most_freq)

Type
terrace house                               956
apartment                                   197
condominium                                 167
flat                                        131
terrace house, semi d                        99
service residence                            96
semi d, terrace house                        83
semi d                                       43
terrace house, cluster house                 32
cluster house                                24
terrace house, bungalow                      23
cluster house, terrace house                 23
bungalow, terrace house                      21
bungalow, semi d                             14
bungalow                                     13
terrace house, town house                     9
semi d, bungalow                              8
town house, terrace house                     7
town house                                    7
cluster house, semi d                         6
semi d, cluster house                         4
terrace house, semi d, bungalow               4
cluster house, terrace house, semi d          3
bungalow, terrace house, semi d               3
semi d, terrace house, bungalow               2
flat, apartment                               2
terrace house, bungalow, semi d               2
terrace house, semi d, town house             2
semi d, town house, terrace house             2
town house, terrace house, semi d             1
town house, semi d, terrace house             1
cluster house, town house, terrace house      1
semi d, terrace house, town house             1
bungalow, semi d, terrace house               1
cluster house, bungalow                       1
condominium, service residence                1
town house, bungalow                          1
apartment, flat                               1
semi d, bungalow, terrace house               1
town house, bungalow, terrace house           1
flat, condominium                             1
town house, semi d                            1
bungalow, town house                          1
semi d, cluster house, bungalow               1
semi d, terrace house, cluster house          1
semi d, town house                            1
Name: count, dtype: int64

In [15]:
# Simplify data: take the first house type and replace spaces with underscores
df['Type'] = df['Type'].str.split(', ').str[0].str.replace(' ', '_')

# Count occurrences of each house type
simplified_counts = df['Type'].value_counts().reset_index()
simplified_counts.columns = ['Type', 'Count']

# Display the result
print(simplified_counts)

                Type  Count
0      terrace_house   1127
1          apartment    198
2        condominium    168
3             semi_d    147
4               flat    134
5  service_residence     96
6      cluster_house     58
7           bungalow     53
8         town_house     19

In [16]:
type_freq = df.groupby('Type').size().reset_index(name='count')
irrelevant_types = type_freq.loc[type_freq['count'] < 100, 'Type'].tolist()
print(irrelevant_types)

['bungalow', 'cluster_house', 'service_residence', 'town_house']

In [17]:
df['Type'] = df['Type'].apply(lambda x: 'other' if x in irrelevant_types else x)

In [18]:
df['Type'].value_counts()

Type
terrace_house    1127
other             226
apartment         198
condominium       168
semi_d            147
flat              134
Name: count, dtype: int64

In [19]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,scientex sungai dua,tasek gelugor,penang,freehold,terrace_house,331800.0,304.0,593
1,bandar putra,kulai,johor,freehold,other,590900.0,322.0,519
2,taman lagenda tropika tapah,chenderiang,perak,freehold,terrace_house,229954.0,130.0,414
3,scientex jasin mutiara,bemban,melaka,freehold,terrace_house,255600.0,218.0,391
4,taman lagenda aman,tapah,perak,leasehold,terrace_house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,taman andalas jaya,klang,selangor,freehold,terrace_house,655000.0,410.0,10
1996,taman anjung bercham megah,ipoh,perak,freehold,terrace_house,337500.0,224.0,10
1997,taman puncak jelapang maju,ipoh,perak,leasehold,terrace_house,290000.0,195.0,10
1998,taman tiong ung siew,sibu,sarawak,leasehold,terrace_house,480000.0,272.0,10
1999,taman desa rishah indah,ipoh,perak,leasehold,terrace_house,449000.0,261.0,10

In [20]:
df['Tenure'].nunique()

4

In [21]:
df['Tenure'].tail()

1995     freehold
1996     freehold
1997    leasehold
1998    leasehold
1999    leasehold
Name: Tenure, dtype: object

In [22]:
import sweetviz as sv

report = sv.analyze(df)
report.show_html('report.html')

ModuleNotFoundError: No module named 'sweetviz'

In [ ]:
df["Tenure"].value_counts()

In [23]:
tenure_freq = df.groupby('Tenure').size().reset_index(name='count')
irrelevant_tenures = tenure_freq.loc[tenure_freq['count'] < 100, 'Tenure'].tolist()
print(irrelevant_tenures)

['freehold, leasehold', 'leasehold, freehold']

In [24]:
df['Tenure'] = df['Tenure'].apply(lambda x: 'other' if x in irrelevant_tenures else x)
df['Tenure'].value_counts()

Tenure
freehold     1318
leasehold     624
other          58
Name: count, dtype: int64

In [25]:
df["State"].value_counts()

State
selangor           545
johor              377
perak              194
penang             187
kuala lumpur       176
negeri sembilan    135
kedah              103
melaka              98
pahang              71
sarawak             54
sabah               40
terengganu          12
putrajaya            3
kelantan             3
perlis               1
labuan               1
Name: count, dtype: int64

In [26]:
state_freq = df.groupby('State').size().reset_index(name='count')
irrelevant_states = state_freq.loc[state_freq['count'] < 170, 'State'].tolist()
print(irrelevant_states)

['kedah', 'kelantan', 'labuan', 'melaka', 'negeri sembilan', 'pahang', 'perlis', 'putrajaya', 'sabah', 'sarawak', 'terengganu']

In [27]:
df['State'] = df['State'].apply(lambda x: 'other' if x in irrelevant_states else x)
df['State'].value_counts()

State
selangor        545
other           521
johor           377
perak           194
penang          187
kuala lumpur    176
Name: count, dtype: int64

In [28]:
df['Area'].value_counts()

Area
ipoh             67
johor bahru      51
klang            50
skudai           45
sungai petani    43
                 ..
klebang           1
kl sentral        1
besut             1
pusing            1
machang           1
Name: count, Length: 303, dtype: int64

In [29]:
pd.set_option('display.max_rows', None)  # Show all rows
df['Area'].value_counts()   #

Area
ipoh                                 67
johor bahru                          51
klang                                50
skudai                               45
sungai petani                        43
cheras                               41
shah alam                            37
puchong                              35
kuantan                              34
tebrau                               34
iskandar puteri (nusajaya)           34
subang jaya                          32
bukit mertajam                       29
batu pahat                           27
kuching                              26
kluang                               23
tampoi                               23
kajang                               23
kapar                                23
ampang                               22
petaling jaya                        20
kulai                                19
sitiawan                             18
serendah                             18
rawang                               18
setia alam                           17
masai                                17
pasir gudang                         17
bangi                                16
simpang ampat                        15
semenyih                             15
kepong                               15
dengkil                              15
nilai                                15
setapak                              15
ulu tiram                            15
ayer itam                            14
batu gajah                           13
tanjong duabelas                     13
port dickson                         13
mont kiara                           13
seri kembangan                       12
kulim                                12
melaka city                          11
muar                                 11
jelutong                             11
permas jaya                          11
rasah                                10
bayan lepas                          10
tanjong tokong                       10
kota samarahan                       10
bukit jalil                          10
wangsa maju                          10
sepang                               10
kota kinabalu                        10
cyberjaya                            10
labu                                 10
jalan klang lama (old klang road)    10
batu caves                           10
perai                                 9
sungai ara                            9
taman desa                            8
selayang                              8
penampang                             8
ijok                                  8
tanjong minyak                        8
mentakab                              8
bandar sri sendayan                   8
batu berendam                         8
sungai buloh                          8
bidor                                 8
klcc                                  8
butterworth                           8
rantau                                8
kota tinggi                           8
gelugor                               7
ulu klang                             7
sibu                                  7
seri iskandar                         7
seremban                              7
taiping                               7
senai                                 7
bandar kinrara                        7
bukit katil                           7
sandakan                              7
bemban                                7
kepala batas                          7
bandar sunway                         7
ulu bernam                            6
banting                               6
seremban 2                            6
kampar                                6
sentul                                6
lumut                                 6
padang serai                          6
nibong tebal                          6
chemor                                6
ampangan                              6
telok panglima garang                 6
beranang                              6
lahat                                 6
tambun                                6
durian tunggal                        5
gelang patah                          5
batu kawan                            5
sungai jawi                           5
sikamat                               5
simpang pulai                         5
jitra                                 5
tampin                                5
kuala kedah                           5
ara damansara                         5
sungai lalang                         5
lunas                                 5
sungai bakap                          5
sungai karang                         5
bandar sungai long                    5
sri petaling                          5
pengerang                             5
raub                                  5
senawang                              5
miri                                  5
krubong                               5
bandar utama                          5
tawau                                 5
alor setar                            5
kuala lipis                           5
segamat                               4
dutamas                               4
bentong                               4
georgetown                            4
jasin                                 4
desa parkcity                         4
bukit baru                            4
bahau                                 4
segambut                              4
mantin                                4
gurun                                 4
bandar puncak alam                    4
bandar sri damansara                  4
tuaran                                4
balakong                              4
jalan kuching                         4
bintulu                               4
jimah                                 4
bayan baru                            4
parit buntar                          4
penaga                                4
sungai besi                           4
bukit bintang                         4
batang kali                           4
bukit minyak                          3
tropicana                             3
bukit jambul                          3
putrajaya                             3
port klang                            3
bukit kepayang                        3
masjid tanah                          3
sungai udang                          3
lahad datu                            3
sungai dua                            3
bangsar                               3
tangkak                               3
bagan serai                           3
tasek gelugor                         3
damansara perdana                     3
lenggeng                              3
kuala selangor                        3
kota damansara                        3
lukut                                 3
ayer molek                            3
gopeng                                3
pasir panjang                         3
bukit rambai                          3
balai panjang                         3
perling                               3
merlimau                              3
teloi kiri                            2
kijal                                 2
telok kemang                          2
kuah                                  2
triang                                2
gemas                                 2
tapah                                 2
taman tun dr ismail                   2
batu ferringhi                        2
dungun                                2
kuala pilah                           2
bandar menjalara                      2
bakri                                 2
teluk intan                           2
jinjang                               2
labis                                 2
genting highlands                     2
desa petaling                         2
kemaman                               2
kuala ketil                           2
pekan                                 2
kuchai lama                           2
sungei petai                          2
relau                                 2
pantai                                2
tanjung bungah                        2
damansara damai                       2
bedong                                2
papar                                 2
kelana jaya                           2
alor gajah                            2
sungai siput                          2
kampung kerinchi (bangsar south)      2
ulu langat                            2
bandar tasik selatan                  2
sungai rambai                         2
pandamaran                            2
bachang                               2
duyong                                2
simpang rengam                        2
sungei baru tengah                    2
glenmarie                             2
paya rumput                           2
bertam                                2
jenjarom                              2
pontian                               2
menglembu                             2
tronoh                                2
pokok sena                            2
kuala kangsar                         2
juasseh                               2
kerteh                                2
yong peng                             1
simpang                               1
tanjong kling                         1
mersing                               1
saujana                               1
kuala sungai baru                     1
padang rengas                         1
kota marudu                           1
permatang pauh                        1
umbai                                 1
cherang ruku                          1
sri aman                              1
hulu selangor                         1
rembau                                1
sungai besar                          1
paroi                                 1
bandar baharu                         1
kota sarang semut                     1
brickfields                           1
limbang                               1
sri hartamas                          1
city centre                           1
balik pulau                           1
mutiara damansara                     1
gerik                                 1
simpang pertang                       1
ampang hilir                          1
pengkalan hulu                        1
teluk kumbar                          1
batu kurau                            1
chenor                                1
juru                                  1
arau                                  1
gurney                                1
labuan                                1
cheng                                 1
tanjong tualang                       1
kuala terengganu                      1
saujana utama                         1
hulu lepar                            1
rasa                                  1
senggarang                            1
gerisek                               1
seberang jaya                         1
sabak bernam                          1
damansara heights                     1
hulu terengganu                       1
batu arang                            1
kamunting                             1
linggi                                1
pagoh                                 1
chenderiang                           1
kuala ibai                            1
kuala kubu baru                       1
hulu langat                           1
bandar enstek                         1
kl city                               1
salak selatan                         1
teras                                 1
padang enggang                        1
jalan ipoh                            1
kubang semang                         1
setiawangsa                           1
paloh                                 1
jementah                              1
merbok                                1
rompin                                1
hutan melintang                       1
seri manjong                          1
klebang                               1
kl sentral                            1
besut                                 1
pusing                                1
machang                               1
Name: count, dtype: int64

In [30]:
pd.reset_option('display.max_rows')

In [31]:
df['Area'] = df['Area'].str.split(', ').str[0].str.replace(' ', '_')

In [32]:
df['Area'].value_counts()

Area
ipoh             67
johor_bahru      51
klang            50
skudai           45
sungai_petani    43
                 ..
klebang           1
kl_sentral        1
besut             1
pusing            1
machang           1
Name: count, Length: 303, dtype: int64

In [33]:
area_freq = df.groupby('Area').size().reset_index(name='count')
irrelevant_areas = area_freq.loc[area_freq['count'] < 43, 'Area'].tolist()
print(irrelevant_areas)

['alor_gajah', 'alor_setar', 'ampang', 'ampang_hilir', 'ampangan', 'ara_damansara', 'arau', 'ayer_itam', 'ayer_molek', 'bachang', 'bagan_serai', 'bahau', 'bakri', 'balai_panjang', 'balakong', 'balik_pulau', 'bandar_baharu', 'bandar_enstek', 'bandar_kinrara', 'bandar_menjalara', 'bandar_puncak_alam', 'bandar_sri_damansara', 'bandar_sri_sendayan', 'bandar_sungai_long', 'bandar_sunway', 'bandar_tasik_selatan', 'bandar_utama', 'bangi', 'bangsar', 'banting', 'batang_kali', 'batu_arang', 'batu_berendam', 'batu_caves', 'batu_ferringhi', 'batu_gajah', 'batu_kawan', 'batu_kurau', 'batu_pahat', 'bayan_baru', 'bayan_lepas', 'bedong', 'bemban', 'bentong', 'beranang', 'bertam', 'besut', 'bidor', 'bintulu', 'brickfields', 'bukit_baru', 'bukit_bintang', 'bukit_jalil', 'bukit_jambul', 'bukit_katil', 'bukit_kepayang', 'bukit_mertajam', 'bukit_minyak', 'bukit_rambai', 'butterworth', 'chemor', 'chenderiang', 'cheng', 'chenor', 'cherang_ruku', 'cheras', 'city_centre', 'cyberjaya', 'damansara_damai', 'damansara_heights', 'damansara_perdana', 'dengkil', 'desa_parkcity', 'desa_petaling', 'dungun', 'durian_tunggal', 'dutamas', 'duyong', 'gelang_patah', 'gelugor', 'gemas', 'genting_highlands', 'georgetown', 'gerik', 'gerisek', 'glenmarie', 'gopeng', 'gurney', 'gurun', 'hulu_langat', 'hulu_lepar', 'hulu_selangor', 'hulu_terengganu', 'hutan_melintang', 'ijok', 'iskandar_puteri_(nusajaya)', 'jalan_ipoh', 'jalan_klang_lama_(old_klang_road)', 'jalan_kuching', 'jasin', 'jelutong', 'jementah', 'jenjarom', 'jimah', 'jinjang', 'jitra', 'juasseh', 'juru', 'kajang', 'kampar', 'kampung_kerinchi_(bangsar_south)', 'kamunting', 'kapar', 'kelana_jaya', 'kemaman', 'kepala_batas', 'kepong', 'kerteh', 'kijal', 'kl_city', 'kl_sentral', 'klcc', 'klebang', 'kluang', 'kota_damansara', 'kota_kinabalu', 'kota_marudu', 'kota_samarahan', 'kota_sarang_semut', 'kota_tinggi', 'krubong', 'kuah', 'kuala_ibai', 'kuala_kangsar', 'kuala_kedah', 'kuala_ketil', 'kuala_kubu_baru', 'kuala_lipis', 'kuala_pilah', 'kuala_selangor', 'kuala_sungai_baru', 'kuala_terengganu', 'kuantan', 'kubang_semang', 'kuchai_lama', 'kuching', 'kulai', 'kulim', 'labis', 'labu', 'labuan', 'lahad_datu', 'lahat', 'lenggeng', 'limbang', 'linggi', 'lukut', 'lumut', 'lunas', 'machang', 'mantin', 'masai', 'masjid_tanah', 'melaka_city', 'menglembu', 'mentakab', 'merbok', 'merlimau', 'mersing', 'miri', 'mont_kiara', 'muar', 'mutiara_damansara', 'nibong_tebal', 'nilai', 'padang_enggang', 'padang_rengas', 'padang_serai', 'pagoh', 'paloh', 'pandamaran', 'pantai', 'papar', 'parit_buntar', 'paroi', 'pasir_gudang', 'pasir_panjang', 'paya_rumput', 'pekan', 'penaga', 'penampang', 'pengerang', 'pengkalan_hulu', 'perai', 'perling', 'permas_jaya', 'permatang_pauh', 'petaling_jaya', 'pokok_sena', 'pontian', 'port_dickson', 'port_klang', 'puchong', 'pusing', 'putrajaya', 'rantau', 'rasa', 'rasah', 'raub', 'rawang', 'relau', 'rembau', 'rompin', 'sabak_bernam', 'salak_selatan', 'sandakan', 'saujana', 'saujana_utama', 'seberang_jaya', 'segamat', 'segambut', 'selayang', 'semenyih', 'senai', 'senawang', 'senggarang', 'sentul', 'sepang', 'seremban', 'seremban_2', 'serendah', 'seri_iskandar', 'seri_kembangan', 'seri_manjong', 'setapak', 'setia_alam', 'setiawangsa', 'shah_alam', 'sibu', 'sikamat', 'simpang', 'simpang_ampat', 'simpang_pertang', 'simpang_pulai', 'simpang_rengam', 'sitiawan', 'sri_aman', 'sri_hartamas', 'sri_petaling', 'subang_jaya', 'sungai_ara', 'sungai_bakap', 'sungai_besar', 'sungai_besi', 'sungai_buloh', 'sungai_dua', 'sungai_jawi', 'sungai_karang', 'sungai_lalang', 'sungai_rambai', 'sungai_siput', 'sungai_udang', 'sungei_baru_tengah', 'sungei_petai', 'taiping', 'taman_desa', 'taman_tun_dr_ismail', 'tambun', 'tampin', 'tampoi', 'tangkak', 'tanjong_duabelas', 'tanjong_kling', 'tanjong_minyak', 'tanjong_tokong', 'tanjong_tualang', 'tanjung_bungah', 'tapah', 'tasek_gelugor', 'tawau', 'tebrau', 'teloi_kiri', 'telok_kemang', 'telok_panglima_garang', 'teluk_intan', 'teluk_kumbar', 'teras', 'triang', 'tronoh', 'tropicana', 'tuaran', 'ulu_bernam', 'ulu_klang', 'ulu_langat', 'ulu_tiram', 'umbai', 'wangsa_maju', 'yong_peng']

In [34]:
df['Area'] = df['Area'].apply(lambda x: 'other' if x in irrelevant_areas else x)
df['Area'].value_counts()

Area
other            1744
ipoh               67
johor_bahru        51
klang              50
skudai             45
sungai_petani      43
Name: count, dtype: int64

In [35]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,scientex sungai dua,other,penang,freehold,terrace_house,331800.0,304.0,593
1,bandar putra,other,johor,freehold,other,590900.0,322.0,519
2,taman lagenda tropika tapah,other,perak,freehold,terrace_house,229954.0,130.0,414
3,scientex jasin mutiara,other,other,freehold,terrace_house,255600.0,218.0,391
4,taman lagenda aman,other,perak,leasehold,terrace_house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,taman andalas jaya,klang,selangor,freehold,terrace_house,655000.0,410.0,10
1996,taman anjung bercham megah,ipoh,perak,freehold,terrace_house,337500.0,224.0,10
1997,taman puncak jelapang maju,ipoh,perak,leasehold,terrace_house,290000.0,195.0,10
1998,taman tiong ung siew,other,other,leasehold,terrace_house,480000.0,272.0,10
1999,taman desa rishah indah,ipoh,perak,leasehold,terrace_house,449000.0,261.0,10

In [36]:
df['Township'] = df['Township'].str.split(', ').str[0].str.replace(' ', '_')

In [37]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,scientex_sungai_dua,other,penang,freehold,terrace_house,331800.0,304.0,593
1,bandar_putra,other,johor,freehold,other,590900.0,322.0,519
2,taman_lagenda_tropika_tapah,other,perak,freehold,terrace_house,229954.0,130.0,414
3,scientex_jasin_mutiara,other,other,freehold,terrace_house,255600.0,218.0,391
4,taman_lagenda_aman,other,perak,leasehold,terrace_house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,taman_andalas_jaya,klang,selangor,freehold,terrace_house,655000.0,410.0,10
1996,taman_anjung_bercham_megah,ipoh,perak,freehold,terrace_house,337500.0,224.0,10
1997,taman_puncak_jelapang_maju,ipoh,perak,leasehold,terrace_house,290000.0,195.0,10
1998,taman_tiong_ung_siew,other,other,leasehold,terrace_house,480000.0,272.0,10
1999,taman_desa_rishah_indah,ipoh,perak,leasehold,terrace_house,449000.0,261.0,10

In [38]:
taman_count = df['Township'].str.startswith('taman').sum()
taman_count

943

In [39]:
%store df

Stored 'df' (DataFrame)

In [40]:
def remove_first_and_third(township_name):
    # Split the name into parts using underscores
    parts = township_name.split('_')

    # Determine which indices to remove (only if they exist)
    indices_to_remove = []
    if len(parts) > 0:
        indices_to_remove.append(0)  # Always remove first word if it exists
    if len(parts) > 2:
        indices_to_remove.append(2)  # Remove third word only if it exists
    if len(parts) > 3:
        indices_to_remove.append(3)
    if len(parts) > 4:
        indices_to_remove.append(4)
    if len(parts) > 5:
        indices_to_remove.append(5)
    # Keep parts not in indices_to_remove
    filtered_parts = [
        part for idx, part in enumerate(parts)
        if idx not in indices_to_remove
    ]

    # Rejoin the remaining parts with underscores
    result = '_'.join(filtered_parts)

    # Optional: Clean up parentheses (if unwanted)
    result = result.replace('(', '').replace(')', '')

    return result if result else township_name  # Fallback to original if empty

# Apply the function
df['Township'] = df['Township'].apply(remove_first_and_third)

# Test with the longest township name
test_name = 'atlantis_residences_(pangsapuri_atlantis_kota_syahbandar)'
print(f"Before: {test_name}")
print(f"After:  {remove_first_and_third(test_name)}")

Before: atlantis_residences_(pangsapuri_atlantis_kota_syahbandar)
After:  residences

In [41]:
print(df['Township'].head())

0     sungai
1      putra
2    lagenda
3      jasin
4    lagenda
Name: Township, dtype: object

In [42]:
%store -r df

In [43]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,scientex_sungai_dua,other,penang,freehold,terrace_house,331800.0,304.0,593
1,bandar_putra,other,johor,freehold,other,590900.0,322.0,519
2,taman_lagenda_tropika_tapah,other,perak,freehold,terrace_house,229954.0,130.0,414
3,scientex_jasin_mutiara,other,other,freehold,terrace_house,255600.0,218.0,391
4,taman_lagenda_aman,other,perak,leasehold,terrace_house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,taman_andalas_jaya,klang,selangor,freehold,terrace_house,655000.0,410.0,10
1996,taman_anjung_bercham_megah,ipoh,perak,freehold,terrace_house,337500.0,224.0,10
1997,taman_puncak_jelapang_maju,ipoh,perak,leasehold,terrace_house,290000.0,195.0,10
1998,taman_tiong_ung_siew,other,other,leasehold,terrace_house,480000.0,272.0,10
1999,taman_desa_rishah_indah,ipoh,perak,leasehold,terrace_house,449000.0,261.0,10

In [44]:
df['Township'].value_counts()

Township
taman_mawar                5
taman_delima               4
taman_bunga_raya           4
taman_jati                 3
taman_puteri               3
                          ..
taman_desa_puteri          1
taman_melati_fasa_ii       1
desa_coalfields            1
taman_pusing_permai        1
taman_desa_rishah_indah    1
Name: count, Length: 1912, dtype: int64

In [45]:
top_townships = df['Township'].value_counts().head(5).index.tolist()
# Output: ['sri', 'bukit', 'desa', 'seri', 'baru']
df['Township_Grouped'] = df['Township'].apply(
    lambda x: x if x in top_townships else 'other'
)
df['Township'] = df['Township_Grouped']

In [46]:
df.drop(columns=['Township_Grouped'], inplace=True)

In [47]:
df

,Township,Area,State,Tenure,Type,Median_Price,Median_PSF,Transactions
0,other,other,penang,freehold,terrace_house,331800.0,304.0,593
1,other,other,johor,freehold,other,590900.0,322.0,519
2,other,other,perak,freehold,terrace_house,229954.0,130.0,414
3,other,other,other,freehold,terrace_house,255600.0,218.0,391
4,other,other,perak,leasehold,terrace_house,219300.0,168.0,363
...,...,...,...,...,...,...,...,...
1995,other,klang,selangor,freehold,terrace_house,655000.0,410.0,10
1996,other,ipoh,perak,freehold,terrace_house,337500.0,224.0,10
1997,other,ipoh,perak,leasehold,terrace_house,290000.0,195.0,10
1998,other,other,other,leasehold,terrace_house,480000.0,272.0,10
1999,other,ipoh,perak,leasehold,terrace_house,449000.0,261.0,10